/*  Contexts besides default?
	- $border-control
	- $border-container */
/*  Contexts besides default?
	- $border-control
	- $border-container */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans"; }

img {
  display: block; }

body {
  background-color: #F6F7F8; }

.hotspot {
  width: 200px;
  height: 40px;
  opacity: 0;
  background-color: red;
  position: absolute;
  top: 490px;
  left: 1040px;
  z-index: 3;
  cursor: pointer; }

.modal {
  width: 718px;
  color: white;
  padding: 1rem;
  margin: 0 auto;
  position: fixed;
  top: 120px;
  left: 361px;
  z-index: 5; }

.overlay {
  display: block;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5; }

.hide {
  display: none; }

#close {
  position: absolute;
  background-color: blue;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer; }

.container {
  width: 1060px;
  margin: 0 auto;
  display: block; }

.leftrail {
  width: 224px;
  height: 1200px;
  display: block;
  float: left;
  margin-right: 2rem; }
  .leftrail > :nth-child(1) {
    border: 1px solid #D5D8DB; }

#refine {
  margin: 0.5rem 0; }
  #refine ul {
    list-style: none; }
  #refine li {
    display: inline; }
  #refine label {
    display: inline;
    font-size: 0.875rem;
    font-weight: 400;
    color: #75787B; }
    #refine label span {
      padding: 0 0 0 0.5rem;
      color: #A5A8AB;
      font-weight: 300; }

#filter-options {
  margin: 0.5rem 0; }
  #filter-options ul {
    list-style: none; }
  #filter-options li {
    display: inline; }
  #filter-options label {
    display: inline;
    font-size: 0.875rem;
    font-weight: 400;
    color: #75787B; }
    #filter-options label span {
      padding: 0 0 0 0.5rem;
      color: #A5A8AB;
      font-weight: 300; }

.selected {
  font-size: 400; }

#product-list {
  margin: 1rem 0 0 0; }

.card {
  display: flex;
  flex-flow: row nowrap;
  height: auto;
  width: auto;
  background-color: #FFFFFF;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem; }
  .card .left {
    margin-right: auto;
    height: auto;
    display: block;
    width: 96px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .card .mid {
    padding: 0 0 0.5rem 0.5rem;
    width: 560px; }
    .card .mid > :nth-child(1) {
      margin: 0; }
    .card .mid h2 {
      padding: 0.5rem 0 0.5rem 0; }
  .card .right {
    margin-left: auto;
    text-align: center; }
    .card .right > :nth-child(1) {
      background-color: #53A318;
      padding: 0.5rem 0 0.5rem 0;
      margin: 1rem;
      width: 160px;
      border-radius: 2px;
      color: #FFFFFF; }
    .card .right > :nth-child(2) {
      margin: 1rem 0 0 0; }

.tags {
  padding: 0.125rem 0.25rem;
  font-size: 0.625rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #FFFFFF;
  display: inline;
  text-transform: uppercase;
  border-radius: 2px; }
  .tags.in-store {
    background-color: #6655D4; }
  .tags.sale {
    background-color: #1795E7; }
  .tags.promocode {
    background-color: #FC2B56; }
  .tags.groupon {
    background-color: #53A318; }
  .tags.verified {
    color: #333333;
    border: 1px solid #D5D8DB; }
  .tags.exclusive {
    color: #53A318;
    border: 1px solid #53A318; }

h1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.25;
  margin: 0; }

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.25; }

h3 {
  font-size: 0.875rem;
  color: #75787B;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 0.25rem; }

.markdown {
  color: #333333;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.25; }

h4 {
  font-size: 0.875rem;
  font-weight: 400;
  color: #53A318; }

h5 {
  font-size: 1rem;
  font-weight: 600;
  color: #333333;
  padding-bottom: 0.5rem;
  margin: 0;
  border-bottom: 1px solid #D5D8DB; }

sup {
  font-size: 0.875rem; }

.highlight {
  display: none;
  font-weight: 600; }

.blue {
  color: #1795E7; }

label:hover, a:hover {
  cursor: pointer; }

.cta {
  height: auto;
  cursor: pointer;
  background-color: #53A318;
  padding: 1rem 0 1rem 0;
  margin: 1rem 0 1rem 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border-radius: 2px;
  color: #FFFFFF; }

.site {
  width: 1200px;
  height: 800px; }
  .site .bg {
    position: absolute;
    z-index: -3; }
  .site .plugin_container {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 3;
    width: 400px;
    height: 352px;
    border: 1px solid #D5D8DB;
    border-radius: 4px;
    background: white;
    display: flex;
    flex-flow: row nowrap; }
    .site .plugin_container .left {
      padding: 16px;
      width: 200px; }
      .site .plugin_container .left h3 {
        width: 240px;
        font-weight: 600; }
      .site .plugin_container .left .cta:hover {
        background: #417505;
        transition: 1s; }
      .site .plugin_container .left .illo {
        margin: 0 auto;
        padding: 12px 0 12px; }
        .site .plugin_container .left .illo .back {
          position: absolute;
          z-index: -2;
          top: 80px;
          right: 210px; }
        .site .plugin_container .left .illo .front {
          position: absolute;
          z-index: -1;
          top: 80px;
          right: 230px;
          transition: 3s; }
      .site .plugin_container .left h1 {
        text-align: center; }
    .site .plugin_container .right {
      background: #F6F7F8;
      width: 200px;
      padding: 32px;
      overflow: hidden; }
      .site .plugin_container .right .codes {
        animation: rollingcredits 3s linear infinite; }
        .site .plugin_container .right .codes p {
          font-size: 12px;
          font-weight: 400;
          color: #333333;
          line-height: 32px; }

.peel {
  animation: codepeel 1s 0.2s forwards; }

@keyframes rollingcredits {
  0% {
    transform: translateY(-40px); }
  100% {
    transform: translateY(-200px); } }

@keyframes codepeel {
  0% {
    transform: translateX(0px);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  100% {
    transform: translateX(-40px);
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 30% 100%); } }
