/*  Contexts besides default?
	- $border-control
	- $border-container */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans"; }

img {
  display: block; }

.hotspot {
  width: 200px;
  height: 40px;
  opacity: 0;
  background-color: red;
  position: absolute;
  top: 838px;
  left: 1040px;
  z-index: 3;
  cursor: pointer; }

.modal {
  width: 718px;
  color: white;
  padding: 1rem;
  margin: 0 auto;
  position: fixed;
  top: 270px;
  left: 361px;
  z-index: 5; }

.overlay {
  display: block;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5; }

.hide {
  display: none; }

#close {
  position: absolute;
  background-color: blue;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer; }

.container {
  width: 1060px;
  margin: 0 auto;
  display: block; }

.leftrail {
  width: 224px;
  height: 1200px;
  display: block;
  float: left;
  margin-right: 2rem; }
  .leftrail > :nth-child(1) {
    border: 1px solid #D5D8DB; }

#filter-options {
  margin: 0.5rem 0; }
  #filter-options ul {
    list-style: none; }
  #filter-options li {
    display: inline; }
  #filter-options label {
    display: inline;
    font-size: 0.875rem;
    font-weight: 400;
    color: #75787B; }
    #filter-options label span {
      padding: 0 0 0 0.5rem;
      color: #A5A8AB;
      font-weight: 300; }

.selected {
  font-size: 400; }

.card {
  display: flex;
  flex-flow: row nowrap;
  height: auto;
  width: auto;
  margin-top: 0.25rem;
  border-bottom: 1px solid #D5D8DB;
  border-radius: 4px;
  justify-content: center;
  align-items: center; }
  .card .left {
    display: none;
    margin-right: auto;
    height: auto;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .card .mid {
    padding: 1rem 0 1rem 0;
    width: 560px; }
    .card .mid > :nth-child(1) {
      margin: 0; }
    .card .mid > :nth-child(2) {
      margin: 0.5rem 0 0.5rem 0; }
  .card .right {
    margin-left: auto;
    text-align: center; }
    .card .right > :nth-child(1) {
      background-color: #53A318;
      padding: 0.5rem 0 0.5rem 0;
      margin: 1rem;
      width: 160px;
      border-radius: 2px;
      color: #FFFFFF; }
    .card .right > :nth-child(2) {
      margin: 1rem 0 0 0; }

.tags {
  padding: 0.125rem 0.25rem;
  font-size: 0.625rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #FFFFFF;
  display: inline;
  text-transform: uppercase;
  border-radius: 2px; }
  .tags.in-store {
    background-color: #6655D4; }
  .tags.sale {
    background-color: #1795E7; }
  .tags.promocode {
    background-color: #FC2B56; }

h1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.25;
  margin: 0; }

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.25; }

h3 {
  font-size: 0.875rem;
  color: #A5A8AB;
  font-weight: 400;
  ine-height: 1.25;
  margin-bottom: 0.25rem; }

h4 {
  font-size: 0.875rem;
  font-weight: 400;
  color: #53A318; }

h5 {
  font-size: 1rem;
  font-weight: 600;
  color: #333333;
  padding-bottom: 0.5rem;
  margin: 0;
  border-bottom: 1px solid #D5D8DB; }

sup {
  font-size: 0.875rem; }

.highlight {
  font-weight: 600; }

.blue {
  color: #1795E7; }

label:hover, a:hover {
  cursor: pointer; }
